.customNavbar {
    background-color: black;
    color: white;
}

.navbarLogo {
    margin-left: 1vw;
}

.navbarItem {
    margin-left: 1vw;
    text-decoration: none;
    font-size: large;
    color: #001133;
}

.customNavbar {
    padding-right: 1rem;
}

.customDropdown {
    margin-left: auto;
    justify-content: end;
    font-size: large;
}
