body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NPS_1935';
  src: local('NPS_1935'), url(./fonts/NPS_1935/NPS_1935.ttf) format('truetype');
}

@font-face {
  font-family: 'Kitten-Slant';
  src: local('Kitten-Slant'), url(./fonts/Kitten-Slant/KittenSlantTrial.ttf) format('truetype');
}